@import "../valo/valo.scss";

@mixin footballTheme {
    @include valo;

    .backgroundimage {
        background-image: url("img/background.jpg");
        background-attachment: fixed;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .v-button {
        background: #bbbb77;
        width: 100px;
      }

    .v-panel {
        color: white;
        background: rgba(30, 30, 30, 0.65);
    }

    .menu {
        background-image: url("img/menuBg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

