@import "../valo/valo.scss";

@mixin footballTheme {
    @include valo;

    .backgroundimage {
        background-image: url("img/background.jpg");
        background-attachment: fixed;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .v-button {
        background: #bbbb77;
        width: 100px;
    }

    .v-panel {
        color: white;
        background: rgba(30, 30, 30, 0.75);
    }

    .v-grid .v-grid-header th.v-grid-cell {
        color: black;
        background: rgba(100,100,100, 0.60);
    }

    .menu {
        background-image: url("img/menuBg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .delete {
        font-weight: bold;
        color: red;
    }

    .v-label-header {
        font-size: 32px;
    }

    .v-label-match {
        font-size: 24px;
        line-height: normal;
        text-align: center;
    }
}

