@import "../valo/valo.scss";

@mixin footballTheme {
    @include valo;

    .backgroundimage {
        background-image: url("img/background.jpg");
        background-attachment: fixed;
        height: 100%;

            /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .v-button {
        color: blue;
        width: 100px;
      }

    .v-panel {
        color: green;
        background: transparent;
    }
}

